# Homework #2

Due 11:59 pm EST, **Sunday Feb 20th, 2022**
Email your solutions (both .ipnb and .html files) to:
compscbio@gmail.com.

### Goals: force the student to gain practical experience with 
- annData
- scanpy
- cleaning scRNAseq data
- how parameters impact analysis outcomes
- distilling research questions into a set of analytical steps
- interpreting results to answer the research questions

You generated a data set od directed differentation towards neural progenitors. You want to use this data to
(1) characterize how cell cycle dynamics change over development
(2) determine whether different genes contribute to these differences?

To do this, you will need to 

- clean your data
- you need to figure out which day of differentiation each cell came from
- count the proportion of cells in each day in each phase
- find genes that have expression patterns correlated with S and G2M 
- propose why/how this might be happening

Prepare this data for the students, then walk through types of analysis that I will ask of them.

see Evernote "rescue negatives from R1 -- take III"

In [1]:
import pandas as pd
import seaborn as sns
import scanpy as sc
import scipy as sp
import numpy as np
import matplotlib.pyplot as plt

In [2]:
adX1 = sc.read_h5ad(
    "../../../data/cscb/2022/Su_2022/adRaw_QC_012120.h5ad"
)
adX1

AnnData object with n_obs × n_vars = 7255 × 31065
    obs: 'n_genes_by_counts', 'log1p_n_genes_by_counts', 'total_counts', 'log1p_total_counts', 'pct_counts_in_top_50_genes', 'pct_counts_in_top_100_genes', 'pct_counts_in_top_200_genes', 'pct_counts_in_top_500_genes', 'percent_mito'
    var: 'Accession', 'Chromosome', 'End', 'Start', 'Strand', 'n_cells_by_counts', 'mean_counts', 'log1p_mean_counts', 'pct_dropout_by_counts', 'total_counts', 'log1p_total_counts'
    layers: 'ambiguous', 'matrix', 'spliced', 'unspliced'

In [3]:
adX1.var_names

Index(['Xkr4', 'Gm37381', 'Rp1', 'Sox17', 'Gm37323', 'Mrpl15', 'Rgs20',
       'Npbwr1', '4732440D04Rik', 'Gm26901',
       ...
       'reporter_eGFP', 'reporter_mCherry', 'selection_ampicillin',
       'selection_blasticidin-R_pLX304', 'selection_chlormaphenicol',
       'selection_hygromycinB', 'selection_kanamycin', 'selection_neomycin',
       'selection_puromycin', 'selection_zeocin'],
      dtype='object', length=31065)

In [4]:
adX1.obs

,n_genes_by_counts,log1p_n_genes_by_counts,total_counts,log1p_total_counts,pct_counts_in_top_50_genes,pct_counts_in_top_100_genes,pct_counts_in_top_200_genes,pct_counts_in_top_500_genes,percent_mito
AAAGAACCAGTAGTTC,5210,8.558527,25133.0,10.131977,21.764214,31.480524,41.165002,55.918514,0.014722
AAACGCTTCTCCCAAC,7130,8.872207,50300.0,10.825780,24.942346,33.980119,43.276342,55.562624,0.006541
AACAGGGGTACCCGCA,4647,8.444192,21984.0,9.998116,24.545124,35.530386,45.469432,59.834425,0.015830
AAACGCTAGGAGAGGC,4723,8.460411,22796.0,10.034384,22.148623,31.808212,42.134585,57.865415,0.009344
AACACACTCGCTTGCT,3661,8.205765,13217.0,9.489335,27.177120,37.905727,47.461602,61.594916,0.010214
...,...,...,...,...,...,...,...,...,...
TTTCCTCGTCTTGGTA,3629,8.196988,15046.0,9.618934,29.768709,42.403297,52.113519,65.372857,0.012495
TTTGGTTGTTCTTGTT,4770,8.470311,24895.0,10.122462,21.807592,32.315726,43.028721,58.859209,0.007351
TTTCGATTCCGATCGG,5657,8.640826,43760.0,10.686499,30.648995,42.746801,52.408592,65.027422,0.016271
TTTCCTCGTTTACCTT,297,5.697093,442.0,6.093570,43.665158,55.429864,78.054299,100.000000,0.167421
TTTGGAGTCATGGATC,6871,8.835210,53622.0,10.889733,22.520607,32.863377,42.956249,57.304838,0.011040

In [5]:
adX1.obs_names

Index(['AAAGAACCAGTAGTTC', 'AAACGCTTCTCCCAAC', 'AACAGGGGTACCCGCA',
       'AAACGCTAGGAGAGGC', 'AACACACTCGCTTGCT', 'AAAGGATAGTCAGAGC',
       'AAACGAAGTCCCTAAA', 'AAAGGATCAAGGCTTT', 'AAATGGAGTCCAGTTA',
       'AAAGGATCACCCTAAA',
       ...
       'TTTGTTGCAGTCTTCC', 'TTTCCTCTCGTAGGGA', 'TTTGATCAGCATGATA',
       'TTTGGTTTCCCATAAG', 'TTTGTTGCACTCGATA', 'TTTCCTCGTCTTGGTA',
       'TTTGGTTGTTCTTGTT', 'TTTCGATTCCGATCGG', 'TTTCCTCGTTTACCTT',
       'TTTGGAGTCATGGATC'],
      dtype='object', length=7255)

Get the sample annotation information. See Evernote: "try to rescue negatives from R1 -- Take II"

In [6]:
sBCs = pd.read_csv("../../../data/cscb/2022/Su_2022/sampTab_R1_comb_sbarcoded_120519.csv", header=0)

In [7]:
sBCs

,Unnamed: 0,cell_name,total_counts,n_genes_by_counts,percent_mito,sampleClass,treatment,timepoint,condition
0,AAACCCAAGGCAGGGA,AAACCCAAGGCAGGGA-1,2566,1228,0.009353,Bar1,pre,0.0,d0
1,AAACCCAAGGTGATCG,AAACCCAAGGTGATCG-1,60138,6821,0.041139,Bar7,WAG,3.0,d3WAG
2,AAACCCACACTGAATC,AAACCCACACTGAATC-1,22399,4798,0.047904,Bar9,WAB,4.0,d4WAB
3,AAACCCAGTTTACCAG,AAACCCAGTTTACCAG-1,30069,5429,0.051515,Doublet,NaN,NaN,NaN
4,AAACCCATCAATCCAG,AAACCCATCAATCCAG-1,17867,4231,0.072816,Bar9,WAB,4.0,d4WAB
...,...,...,...,...,...,...,...,...,...
7250,TAATCTCCACTACACA,TAATCTCCACTACACA-1,68138,6914,0.040477,Negative,NaN,NaN,NaN
7251,TCCACGTAGGGCAGGA,TCCACGTAGGGCAGGA-1,39383,5814,0.046314,Negative,NaN,NaN,NaN
7252,TTCTCTCCACACCAGC,TTCTCTCCACACCAGC-1,38136,6898,0.043214,Negative,NaN,NaN,NaN
7253,TTGAGTGTCCGCACGA,TTGAGTGTCCGCACGA-1,36697,5678,0.057961,Bar9,WAB,4.0,d4WAB
7254,TTGGGATTCAGAACCT,TTGGGATTCAGAACCT-1,33616,5671,0.023858,Negative,NaN,NaN,NaN

In [8]:
sBCs = sBCs.rename(columns={"Unnamed: 0": "cell_id"})

In [9]:
adX1 = adX1[ sBCs["cell_id"] ]
adX1.obs['timepoint'] = sBCs["timepoint"].values
adX1.obs['sampClass'] = sBCs["sampleClass"].values
adX1.obs['treatment'] = sBCs["treatment"].values
adX1.obs['condition'] = sBCs["condition"].values

Trying to set attribute `.obs` of view, copying.

In [10]:
adX1

AnnData object with n_obs × n_vars = 7255 × 31065
    obs: 'n_genes_by_counts', 'log1p_n_genes_by_counts', 'total_counts', 'log1p_total_counts', 'pct_counts_in_top_50_genes', 'pct_counts_in_top_100_genes', 'pct_counts_in_top_200_genes', 'pct_counts_in_top_500_genes', 'percent_mito', 'timepoint', 'sampClass', 'treatment', 'condition'
    var: 'Accession', 'Chromosome', 'End', 'Start', 'Strand', 'n_cells_by_counts', 'mean_counts', 'log1p_mean_counts', 'pct_dropout_by_counts', 'total_counts', 'log1p_total_counts'
    layers: 'ambiguous', 'matrix', 'spliced', 'unspliced'

In [11]:
adX1.obs

,n_genes_by_counts,log1p_n_genes_by_counts,total_counts,log1p_total_counts,pct_counts_in_top_50_genes,pct_counts_in_top_100_genes,pct_counts_in_top_200_genes,pct_counts_in_top_500_genes,percent_mito,timepoint,sampClass,treatment,condition
AAACCCAAGGCAGGGA,1068,6.974479,1996.0,7.599401,27.304609,39.128257,52.204409,71.543086,0.003507,0.0,Bar1,pre,d0
AAACCCAAGGTGATCG,6081,8.713089,43342.0,10.676901,22.241706,32.335841,42.951410,58.077615,0.012644,3.0,Bar7,WAG,d3WAG
AAACCCACACTGAATC,4204,8.344030,16212.0,9.693568,20.207254,30.039477,40.260301,56.032568,0.015421,4.0,Bar9,WAB,d4WAB
AAACCCAGTTTACCAG,4789,8.474286,21514.0,9.976505,21.023520,30.598680,40.438784,55.735800,0.011946,NaN,Doublet,NaN,NaN
AAACCCATCAATCCAG,3703,8.217169,12508.0,9.434204,24.112568,35.297410,45.738727,60.233451,0.015750,4.0,Bar9,WAB,d4WAB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
TAATCTCCACTACACA,6187,8.730367,48935.0,10.798268,21.491775,31.590886,41.910698,57.132931,0.011485,NaN,Negative,NaN,NaN
TCCACGTAGGGCAGGA,5136,8.544225,28158.0,10.245623,23.204773,34.160807,44.204134,59.070246,0.012892,NaN,Negative,NaN,NaN
TTCTCTCCACACCAGC,6130,8.721113,28591.0,10.260882,20.314085,28.725823,38.099402,51.547690,0.008989,NaN,Negative,NaN,NaN
TTGAGTGTCCGCACGA,5002,8.517793,25894.0,10.161805,26.832471,38.414304,48.042017,61.489148,0.017958,4.0,Bar9,WAB,d4WAB
TTGGGATTCAGAACCT,5004,8.518193,24051.0,10.087974,24.514573,35.038044,44.605214,58.800050,0.006902,NaN,Negative,NaN,NaN

In [18]:
rcBCs = pd.read_csv("../../../data/cscb/2022/Su_2022/sampTab_R1_SBC_rescuedv2_012020.csv", header=0)
rcBCs = rcBCs.rename(columns={"Unnamed: 0": "cell_id"})

In [19]:
del(sBCs2)
rcBCs

,cell_id,cell_name,total_counts,n_genes_by_counts,percent_mito,timepoint,treatment,condition,sampClass,leiden,...,Bar5,Bar6,Bar7,Bar8,Bar9,Bar10,Bar11,nUMI,nUMI_total,newClass
0,AAACCCAAGGTGATCG,AAACCCAAGGTGATCG,43342,6081,0.012644,3.0,WAG,d3WAG,Bar7,0,...,2,1,26,5,5,8,6,95,103,Bar7
1,AAACCCAAGTCACAGG,AAACCCAAGTCACAGG,34176,5464,0.017878,2.0,pre,d2,Negative,0,...,1,2,2,1,6,7,6,99,109,Bar3
2,AAACCCAAGTGCAGGT,AAACCCAAGTGCAGGT,48456,6537,0.008461,3.0,WA,d3WA,Negative,0,...,4,4,0,3,4,19,8,143,153,Bar4
3,AAACCCACACTGAATC,AAACCCACACTGAATC,16212,4204,0.015421,4.0,WAB,d4WAB,Bar9,1,...,3,2,1,4,187,4,11,254,267,Bar9
4,AAACCCACATCGGTTA,AAACCCACATCGGTTA,41881,5855,0.019914,0.0,pre,d0,Negative,2,...,5,3,1,2,3,8,5,86,93,Bar1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6061,TTTGTTGCATCGGCCA,TTTGTTGCATCGGCCA,25648,5155,0.012516,1.0,pre,d1,Negative,2,...,0,1,3,7,9,5,9,95,101,Bar2
6062,TTTGTTGCATGAGATA,TTTGTTGCATGAGATA,17995,4216,0.013226,3.0,WAN,d3WAN,Bar6,0,...,1,21,16,1,9,3,7,84,90,Bar6
6063,TTTGTTGTCCAGCTCT,TTTGTTGTCCAGCTCT,28854,5477,0.012581,4.0,WA,d4WA,Bar8,0,...,0,3,1,59,25,2,5,114,118,Bar8
6064,TTTGTTGTCCTACGAA,TTTGTTGTCCTACGAA,31228,4286,0.012233,1.0,pre,d1,Bar2,0,...,0,3,1,3,5,7,4,1476,1656,Bar2
6065,TTTGTTGTCTTACTGT,TTTGTTGTCTTACTGT,33263,5962,0.010913,3.0,WAG,d3WAG,Bar7,1,...,6,5,706,5,9,12,4,793,844,Bar7

Make another annData with this filtered/rescued data

Then figure out what is unique to the first data set, and make an annData from that

Then combine the two

Do basic analysis pipeline to identify

- low quality cells
- potential doublets
- cells off of the esc -> neural progenitor trajectory